In [1]:
#import dependencies
import pandas as pd
import numpy as np
import geopandas
import matplotlib.pyplot as plt

In [2]:
file_to_load = "Resources/FOMIX_por_Entidad_Federativa_Apoyada_2017_vf.csv"

In [3]:
#Read file and store into Pandas data frame
states_data=pd.read_csv(file_to_load)

In [4]:
#Print Header
states_data.head()

   Periodo     Monto Iniciales        Lat         Lng
0     2017  15978420       BCN  30.282299 -120.029148
1     2016  16500000       BCS  25.367436 -116.818348
2     2017  29404965       BCS  25.367436 -116.818348
3     2017   3670000       CAM  19.318247  -93.040609
4     2017   3390000       CAM  19.318247  -93.040609

In [5]:
df=pd.DataFrame(states_data)
df

    Periodo     Monto Iniciales        Lat         Lng
0      2017  15978420       BCN  30.282299 -120.029148
1      2016  16500000       BCS  25.367436 -116.818348
2      2017  29404965       BCS  25.367436 -116.818348
3      2017   3670000       CAM  19.318247  -93.040609
4      2017   3390000       CAM  19.318247  -93.040609
5      2016   3100000       CHI  28.670859 -106.204708
6      2017    795000       CHI  28.670859 -106.204708
7      2016  12000000       CHS  16.246865  -94.500408
8      2017  10000000       COA  27.139451 -106.400902
9      2017  14200000       COA  27.139451 -106.400902
10     2017  16800000       DGO  37.272527 -107.937401
11     2016  35000000       MEX  19.322976 -100.726631
12     2016  14456580       MEX  19.322976 -100.726631
13     2016  15000000       MEX  19.322976 -100.726631
14     2016  80000000       MEX  19.322976 -100.726631
15     2016  15000000       MEX  19.322976 -100.726631
16     2016   2706554       GTO  21.025104 -101.292900
17     2017   1346000       JAL  20.823430 -105.848504
18     2016   3984000       HGO  20.494538 -100.043877
19     2016  19999537       JAL  20.823430 -105.848504
20     2016   4066000       JAL  20.823430 -105.848504
21     2016  50000000       QRO  20.612123 -100.480259
22     2017  14276249       JAL  20.823430 -105.848504
23     2017  12886000       JAL  20.823430 -105.848504
24     2015  16000000       MIC  19.141093 -104.146187
25     2016   2000000       MOR  18.638046  -98.967177
26     2017   1195000       MOR  18.638046  -98.967177
27     2017   2000000       PUE  19.039994  -98.333056
28     2017  11000000      CDMX  19.390519  -99.423827
29     2016  50000000       QRO  20.612123 -100.480259
30     2016   9999993       QRO  20.612123 -100.480259
31     2016   9000000       QRO  20.612123 -100.480259
32     2016  18000000       QRO  20.612123 -100.480259
33     2016  17999999       QRO  20.612123 -100.480259
34     2016  10000000       QRO  20.612123 -100.480259
35     2016  18000000       QRO  20.612123 -100.480259
36     2016   5000000       QRO  20.612123 -100.480259
37     2016  11707759       QUI  19.735750  -90.249065
38     2016   7203310       SIN  24.737990 -109.665291
39     2016  17705500       SNL  22.810106 -102.556438
40     2016  12811468       SON  29.319912 -116.237195
41     2016   9995860       YUC  21.067718  -92.175243
42     2017   9710729       JAL  20.823430 -105.848504

In [6]:
df.dtypes

Periodo        int64
Monto          int64
Iniciales     object
Lat          float64
Lng          float64
dtype: object

In [7]:
Filter_d = df.groupby(["Iniciales","Lat","Lng"])
Filter_DF = (Filter_d["Monto"]).sum().map("$ {:,.0f}".format)
Filter_DF

Iniciales  Lat        Lng
BCN        30.282299  -120.029148     $ 15,978,420
BCS        25.367436  -116.818348     $ 45,904,965
CAM        19.318247  -93.040609       $ 7,060,000
CDMX       19.390519  -99.423827      $ 11,000,000
CHI        28.670859  -106.204708      $ 3,895,000
CHS        16.246865  -94.500408      $ 12,000,000
COA        27.139451  -106.400902     $ 24,200,000
DGO        37.272527  -107.937401     $ 16,800,000
GTO        21.025104  -101.292900      $ 2,706,554
HGO        20.494538  -100.043877      $ 3,984,000
JAL        20.823430  -105.848504     $ 62,284,515
MEX        19.322976  -100.726631    $ 159,456,580
MIC        19.141093  -104.146187     $ 16,000,000
MOR        18.638046  -98.967177       $ 3,195,000
PUE        19.039994  -98.333056       $ 2,000,000
QRO        20.612123  -100.480259    $ 187,999,992
QUI        19.735750  -90.249065      $ 11,707,759
SIN        24.737990  -109.665291      $ 7,203,310
SNL        22.810106  -102.556438     $ 17,705,500
SON        29.319912  -116.237195     $ 12,811,468
YUC        21.067718  -92.175243       $ 9,995,860
Name: Monto, dtype: object

In [8]:
summary_df = pd.DataFrame(Filter_DF).reset_index()
summary_df

   Iniciales        Lat         Lng          Monto
0        BCN  30.282299 -120.029148   $ 15,978,420
1        BCS  25.367436 -116.818348   $ 45,904,965
2        CAM  19.318247  -93.040609    $ 7,060,000
3       CDMX  19.390519  -99.423827   $ 11,000,000
4        CHI  28.670859 -106.204708    $ 3,895,000
5        CHS  16.246865  -94.500408   $ 12,000,000
6        COA  27.139451 -106.400902   $ 24,200,000
7        DGO  37.272527 -107.937401   $ 16,800,000
8        GTO  21.025104 -101.292900    $ 2,706,554
9        HGO  20.494538 -100.043877    $ 3,984,000
10       JAL  20.823430 -105.848504   $ 62,284,515
11       MEX  19.322976 -100.726631  $ 159,456,580
12       MIC  19.141093 -104.146187   $ 16,000,000
13       MOR  18.638046  -98.967177    $ 3,195,000
14       PUE  19.039994  -98.333056    $ 2,000,000
15       QRO  20.612123 -100.480259  $ 187,999,992
16       QUI  19.735750  -90.249065   $ 11,707,759
17       SIN  24.737990 -109.665291    $ 7,203,310
18       SNL  22.810106 -102.556438   $ 17,705,500
19       SON  29.319912 -116.237195   $ 12,811,468
20       YUC  21.067718  -92.175243    $ 9,995,860

In [9]:
summary_df.shape

(21, 4)

In [17]:
summary_df

   Iniciales        Lat         Lng          Monto
0        BCN  30.282299 -120.029148   $ 15,978,420
1        BCS  25.367436 -116.818348   $ 45,904,965
2        CAM  19.318247  -93.040609    $ 7,060,000
3       CDMX  19.390519  -99.423827   $ 11,000,000
4        CHI  28.670859 -106.204708    $ 3,895,000
5        CHS  16.246865  -94.500408   $ 12,000,000
6        COA  27.139451 -106.400902   $ 24,200,000
7        DGO  37.272527 -107.937401   $ 16,800,000
8        GTO  21.025104 -101.292900    $ 2,706,554
9        HGO  20.494538 -100.043877    $ 3,984,000
10       JAL  20.823430 -105.848504   $ 62,284,515
11       MEX  19.322976 -100.726631  $ 159,456,580
12       MIC  19.141093 -104.146187   $ 16,000,000
13       MOR  18.638046  -98.967177    $ 3,195,000
14       PUE  19.039994  -98.333056    $ 2,000,000
15       QRO  20.612123 -100.480259  $ 187,999,992
16       QUI  19.735750  -90.249065   $ 11,707,759
17       SIN  24.737990 -109.665291    $ 7,203,310
18       SNL  22.810106 -102.556438   $ 17,705,500
19       SON  29.319912 -116.237195   $ 12,811,468
20       YUC  21.067718  -92.175243    $ 9,995,860

In [29]:
gdf = geopandas.GeoDataFrame(
    summary_df, geometry=geopandas.points_from_xy(summary_df.Lng, summary_df.Lat))

In [30]:
gdf

,Iniciales,Lat,Lng,Monto,geometry
0,BCN,30.282299,-120.029148,"$ 15,978,420",POINT (-120.02915 30.28230)
1,BCS,25.367436,-116.818348,"$ 45,904,965",POINT (-116.81835 25.36744)
2,CAM,19.318247,-93.040609,"$ 7,060,000",POINT (-93.04061 19.31825)
3,CDMX,19.390519,-99.423827,"$ 11,000,000",POINT (-99.42383 19.39052)
4,CHI,28.670859,-106.204708,"$ 3,895,000",POINT (-106.20471 28.67086)
5,CHS,16.246865,-94.500408,"$ 12,000,000",POINT (-94.50041 16.24686)
6,COA,27.139451,-106.400902,"$ 24,200,000",POINT (-106.40090 27.13945)
7,DGO,37.272527,-107.937401,"$ 16,800,000",POINT (-107.93740 37.27253)
8,GTO,21.025104,-101.292900,"$ 2,706,554",POINT (-101.29290 21.02510)
9,HGO,20.494538,-100.043877,"$ 3,984,000",POINT (-100.04388 20.49454)
10,JAL,20.823430,-105.848504,"$ 62,284,515",POINT (-105.84850 20.82343)
11,MEX,19.322976,-100.726631,"$ 159,456,580",POINT (-100.72663 19.32298)
12,MIC,19.141093,-104.146187,"$ 16,000,000",POINT (-104.14619 19.14109)
13,MOR,18.638046,-98.967177,"$ 3,195,000",POINT (-98.96718 18.63805)
14,PUE,19.039994,-98.333056,"$ 2,000,000",POINT (-98.33306 19.03999)
15,QRO,20.612123,-100.480259,"$ 187,999,992",POINT (-100.48026 20.61212)
16,QUI,19.735750,-90.249065,"$ 11,707,759",POINT (-90.24906 19.73575)
17,SIN,24.737990,-109.665291,"$ 7,203,310",POINT (-109.66529 24.73799)
18,SNL,22.810106,-102.556438,"$ 17,705,500",POINT (-102.55644 22.81011)
19,SON,29.319912,-116.237195,"$ 12,811,468",POINT (-116.23720 29.31991)
20,YUC,21.067718,-92.175243,"$ 9,995,860",POINT (-92.17524 21.06772)

In [31]:
gdf.to_file("Resources/gdf.geojson",driver= 'GeoJSON')